@import "~normalize.css";

* {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
  font-family: "Nunito", "Arial", "Helvetica", sans-serif;
}

.container {
  max-width: 1024px;
  padding-left: 16px;
  padding-right: 16px;
  width: 95%;
  margin: 0 auto;
}

.container_inner {
  margin-top: 20px;
}

.errorMessage {
  font-family: Arial, Helvetica, sans-serif;
  text-align: end;
  color: red;
  font-size: 12px;
  align-self: flex-start;
}

img {
  max-width: 100%;
}

.content__sort {
  margin-bottom: 40px;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
